@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./fonts/ProximaNova-Regular.otf');
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('./fonts/ProximaNova-Bold.otf');
}
@font-face {
  font-family: 'ProximaNova-Regular-It';
  src: url('./fonts/ProximaNova-Regular-It.otf');
}
@font-face {
  font-family: 'Credit-Card';
  src: url('./fonts/Credit-Card.otf');
}

@font-face {
  font-family: 'Pricedown';
  src: url('./fonts/Pricedown.ttf');
}
